* {
  font-size: 0.9em;
}
body {
  margin: 0;
  padding: 0;
  margin-top: 0;
  top: 0;
}

.app-container {
  cursor: pointer;
  margin: 0;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.app-container:hover {
  background-color: #f7f7f7;
}
h2{
  font-size:
}
.table-container {
  margin: 0px 15px;
  border-radius: 25px;
  width: 66.6vw;
  cursor: pointer;
  background-color: white;
  box-shadow: 6px 0px 18px -9px grey;
  padding: 15px;
}
.my-row:hover {
  background-color: #f7f7f7;
}
img{
  border-radius: 15px;
}
input {
  width: auto;
}

input:disabled {
  border: none;
  color: black;
  background-color: white;
}

.btn-cancel {
  margin-left: 20px;
  border: 2px solid lightcoral;
  color: #bd4a4a;
  font-size: 0.82em;
  padding: 5px;
  height: 25px;
  border-radius: 1000px;
  font-weight: 700;
  box-shadow: 0px 6px 8px -8px grey;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.2);
}

.btn-remove {
  margin-left: 20px;
  border: 2px solid#8dccc8;
  color: #418783;
  font-size: 0.82em;
  padding: 5px;
  height: 25px;
  border-radius: 1000px;
  font-weight: 700;
  box-shadow: 0px 6px 8px -8px grey;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.2);
}

.btn-edit:hover,
.btn-done:hover,
.btn-cancel:hover,
.btn-remove:hover {
  opacity: 0.8;
}

.btn-edit {
  margin-left: 20px;

  border: 2px solid #8dccc8;
  color: #418783;
  font-size: 0.82em;
  padding: 5px;
  height: 25px;
  border-radius: 1000px;
  font-weight: 700;
  box-shadow: 0px 6px 8px -8px grey;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.2);
}

.btn-done {
  margin-left: 20px;
  border: 2px solid lightgreen;
  color: #469946;
  font-size: 0.82em;
  padding: 5px;
  height: 25px;
  border-radius: 1000px;
  font-weight: 700;
  box-shadow: 0px 6px 8px -8px grey;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.2);
}

